<Div class="container">
    <button class="btn btn-outline-primary mt-5" type="submit"  routerLink="/newitem" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">New Item</button>
    
    <button class="btn btn-outline-secondary mt-5" type="submit"  routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions] = "{exact:true}">Export</button>

    <h2>Manage Item</h2>
    
</Div>

<div class="table">
    <table class="table">
        <thead>
          <tr>
            <th scope="col"> Name</th>
            <th scope="col">item Description</th>
            <th scope="col">Item Type</th>
            <th scope="col">coast ($)</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
      </table>
</div>
