body{
    margin: 0;
    padding: 0;
}
.header {
    background-image: url('https://res.cloudinary.com/dtdpx59sc/image/upload/v1668069890/nurse_study_online_mpl9oe.jpg');
    height: 400px;
    background-position: center;
    background-size:cover;
    margin-bottom: 30px;
}
.header h1 {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}
button a {
    text-decoration: none;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: center;
}
.container{
    justify-items: center;
}
.container button{
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}